name: Testing calculator

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test_cases:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get install -y python3 python3-pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          python3 test_calculator.py

  deploy:
    needs: test_cases
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy application
        run: |
          echo "Deploying application..."
